@model IEnumerable<(string Id, doan.Models.Room Dish)>

<h1>Xóa sảnh</h1>

<div class="khung">
    <h4>Bạn có muốn xóa sảnh này?</h4>

    @foreach (var item in Model)
    {
        <div class="item">
            <h5>@item.Dish.ten</h5>
            <img src="@item.Dish.anh" width="400" height="400" />
        </div>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" name="id" asp-for="@item.Id" />
            <div class="button-group">
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
            </div>
        </form>
    }
</div>
