@model doan.Models.Room

<h1>Chỉnh sửa sảnh</h1>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ten">Tên</label>
        <input asp-for="ten" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="sl">Số  lượng</label>
        <input asp-for="sl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="gia">Giá Tiền</label>
        <input asp-for="gia" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="anh">Ảnh</label>
        <input asp-for="anh" class="form-control" />
        <img src="@Model.anh" width="100" height="100" />
    </div>
    <div class="form-group">
        <label asp-for="mota"></label>
        <textarea asp-for="mota" class="form-control"></textarea>
    </div>
    <div class="center-button-container">
    <button type="submit" class="btn btn-primary">Lưu lại</button>
    </div>
</form>
